<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

     <pluginGroups>
    <pluginGroup>org.mule.tools.maven</pluginGroup>
  </pluginGroups>

  <mirrors>
    <!-- Force correct MuleSoft repo -->
    <mirror>
      <id>mulesoft-releases</id>
      <mirrorOf>mulesoft-releases</mirrorOf>
      <url>https://repository.mulesoft.org/releases/</url>
    </mirror>
  </mirrors>

  <servers>
    <server>
      <id>anypoint-exchange-v3</id>
      <username>~~~Client~~~</username>
      <password>CLIENT_ID~?~CLIENT_SECRET</password>
    </server>
  </servers>

</settings>